.media-scroller {
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 1em;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    gap: 2em;
    height: 25em;
    overflow-x: scroll;
    overflow-y: hidden;
}

#profile-details {
    background: #fff;
    filter: drop-shadow(0 2px 2px rgba(51, 55, 59, .08));
    padding: 2em;
    text-align: justify;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
    transition: 0.8s;
    font-size: 700;
    font-size: 1.5em;
    align-items: center;
    display: grid;
    grid-gap: 2em;
}

.user-thumb > img {
    border-radius: 1em;
    border: solid 0.05em var( --clr-border);
    width: 100%;
    height: 100%;
}

.user-thumb {
    width: 400px;
    margin: 0 auto;
    height: 400px;
}

.for-order {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5em;
    align-items: flex-start;
}